<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Bootstrap Link goes here--}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- Google Fonts goes here--}}
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    {{!-- Link to CSS goes here --}}
    <link rel="stylesheet" href="/assets/css/burger-styles.css" type="text/css">
    <title>Eat-Da-Burger!!</title>
</head>

<body>
    {{{ body }}}
</body>

</html>